:root {
    --subtle: #c9c9c9;
    --darker: #757575;
    
}

body {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
}

header {
    /* top bar at top with small text: view highscore button and timer */
    font-size: 12px;
    background-color: var(--subtle);
    color: var(--darker);
}

#pageHead {
    /* coding quiz title, questions, main message of screen */
}

#pageBody {
    /* buttons, highscores, input/forms, check message */
}

#pageBody button {
    background-color: #ff00ff;
    color: #000000;
    display: block;
}

#pageBody li {
    display: block;
    background-color: var(--subtle);
    color: #000000;
}

#pageBody input {
    display: inline-block;
    background-color: var(--subtle);
    color: #000000;
    border: 3px solid var(--darker);
}